* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: red;
}

h1 {
  text-align: center;
}

.wrapper {
  width: 100%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

nav {
  width: 100%;
  padding: 5px;
  background-color: #eebf799d;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

img {
  width: 75px;
  height: 75px;
}

nav .header {
  width: 50%;
  display: flex;
  flex-direction: row;
  margin-left: 25px;
  gap: 60px;
  align-items: center;
}

nav .btns {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 25px;
  gap: 10px;
  align-items: center;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
tr,
td {
  padding: 5px;
}

tr:hover {
  background-color: #2f4b0e;
  color: #fff;
}

th {
  background-color: #a01005;
  color: #fff;
}

.resumen-pedido {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

button {
  border-radius: 5px;
  padding: 5px;
  margin: 2px;
  border: none;
  color: #fff;
  cursor: pointer;
}

a {
  text-decoration: none;
}
.close-sesion {
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  padding: 5px;
  margin: 2px;
  border: none;
  color: #fff;
  background-color: #a01005;
  &:hover {
    background-color: rgb(255, 53, 53);
  }
}

.btn-pedido {
  font-size: 20px;
  background-color: #2f4b0e;
  &:hover {
    background-color: #3d6114;
  }
}

.table-pizzas {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

.banner {
  width: 100%;
  height: 450px;
}

.head-admin {
  width: 100%;
  margin: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.head-admin:first-child {
  width: 70%;
}

.head-admin:last-child {
  height: 100%;
}

.pizzas-a-pedir button {
  width: 100%;
  height: 40px;
  background-color: #2f4b0e;
  &:hover {
    background-color: #3d6114;
  }
}

.pedido-btn{
  width: 100%;
  height: 40px;
  background-color: #2f4b0e;
  &:hover {
    background-color: #3d6114;
  }
}

.user-stadistic {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  gap: 10px;
}

.pedido {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  gap: 10px;
}

.pedido button {
  width: 100%;
  height: 40px;
}

.add-pizza-btn{
  width: 100%;
  height: 40px;
  color: black;
  background-color: #eebf79;
  &:hover {
    background-color: #eebf799d;;
  }
}

.form-pedido{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  gap: 10px;
}

.block-pedido{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}



.pedido option {
  width: 100%;
  height: 40px;
}

.pedido input {
  width: 100%;
  height: 40px;
}

.pizzas-pedido {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 10px;
  gap: 10px;
}

.more-pizzas {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
} 
.pizzas-add-pedido{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 10px;
  gap: 10px;
}

.pedido select {
  width: 100%;
  height: 40px;
}

.hide {
  display: none;
}
.btn-danger, .cancel-btn {
  background-color: #a01005;
  &:hover {
    background-color: rgb(255, 53, 53);
  }
}
